<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">LOGIN PAGE</mat-toolbar>
    <form fxLayoutAlign="stretch" #loginForm="ngForm" fxLayout="column" class="login-form">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput #username="ngModel" required name="username" (ngModel)="username" placeholder="Username">
        <mat-error *ngIf="isControlValid(username)">{{getErrorMessage(username)}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" required name="password" #password="ngModel" (ngModel)="password"
          placeholder="Password">
        <mat-error *ngIf="isControlValid(password)">{{getErrorMessage(password)}}</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit" class="mt-5" color="primary" [disabled]="!loginForm.valid"
        (click)="onLogin(loginForm)">LOGIN</button>
    </form>

  </mat-card>
</div>
